body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
/* Navigation */
nav
    {
    text-align: center;
    font-weight: bold;
    background: black;
    }

nav ul
    {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
    }
nav li
    {
  
    border-bottom: 1px solid black;
    }
nav a
    {
    text-decoration:none;
    padding-right: 10px;   
    }
a:link
    {
    color: #33cc33;    
    }
a:visited
    {
    color:#0000ff;    
    }
a:hover
    {
    color: white;    
    }
a:active
    {
    color:#FFF;   
    }
/* Main */
h1{
    text-align: center;
}
h2{
    text-align: center;
}
main{
    margin-top: 80px;
   /* margin-left: 10px; */
}
img {
    max-width: 95%;
    border: solid black;
    margin-left: auto;
    margin-right: auto;
}
.project {
    background-color: green;
    padding-top: 3em;
    padding-bottom: 3em;
    padding: 1em;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    gap: 3px;
}
.websites {
    background-color: white;
    color: black;
    max-width: 30%;
    text-align: center;
    border: groove black;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    min-width: 20%;
    display: flexbox;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    line-height: 50%;
} 
.websites a {
    text-decoration:none;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.websites img {
    max-width: 25%;
    /*padding-right: 1em;*/
}
.media {
    background-color: white;
    padding: 3em;
    margin: 1em;
}
#video {
    margin-bottom: 1em;
}
#video {
    padding: 2em;
}
/*video resizing code*/
.video-resize {
  max-width: 420px;
  margin: 0px auto;
}

.video-resize > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.video-resize iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* button code */
.button {
    margin: 2em;
    padding: 1em;
    border: 0;
    border-radius: .5em;
    font-size: 1rem;
    color: white;
    background-color: #70db70;
    box-shadow: 0 .4em #29a329;
    text-shadow: 1px 1px #29a329;
}
.button:active{
    background-color: #47d147;
    transform: translateY(.1em);
    box-shadow: 0 .3em #29a329;
}
.buttonOut {
    margin: 2em;
    padding: 1em;
    border: 0;
    border-radius: .5em;
    font-size: 1rem;
    color: white;
    background-color: #ff4d4d;
    box-shadow: 0 .4em #b30000;
    text-shadow: 1px 1px #b30000;
}
.buttonOut:active {
    background-color: #ff1a1a;
    transform: translateY(.1em);
    box-shadow: 0 .3em #b30000;
}

/*Light box code*/
#overlay {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,.7);
    z-index: 999;
}
#lightbox {
    position: fixed;
    top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
}

/* Tabs */
#tabs {
    display: flex;
  flex-wrap: wrap;
 /* max-width: 700px; */
    max-width: 100%;
  background: #e5e5e5;
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}
.tabs h3 {
    text-align: center;
}
#tab-nav{
    display: flex;   
    font-weight: bold;
    list-style-type: none;
}
#tab-nav ul{
    list-style-type: none;
}
.tabs a{
    width: 100%;
  padding: 10px 15px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
text-decoration:none;
}
.tabs a:link{
    background: #ddd;
    border: 3px green;
}
.tabs a:hover{
    background: #d8d8d8;
    border: 3px blue;
}
.tabs a:active{
    background: #ccc;
    border: 3px red;
}


.skill {
    background-color: green;
    padding: 3em;
}
.hoverTime {
    background-color: black;
}
.hoverTimeTwo {
    background-color: #80d4ff;
}
@media (min-width:45em) {
    nav
        {
        padding: 1em;   
        }
    nav ul 
        {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        list-style-type: none;
        }

    nav li 
        {
        border-bottom: none;
        } 
    .project {
        padding: 2px
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .skill-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto, auto;
        grid-gap: .1em;
    }
    .grid1 {
        grid-column: 1/2;
        margin: 2em;
        background-color: white;
        border-style: solid;
        padding: 2em;
    }
    .grid2 {
        grid-column: 2/2;
        margin: 2em;
        background-color: white;
        border-style: solid;
        padding: 2em;
    }
    .container{
        gap: 15px;
    }
    /* tabs */
    #tabs a {
        width: auto;
        padding: 20px 30px;
        font-size: 18px;
    }
}
@media (min-width:65em) {
    .project {
        padding: 3em;
    }
    img {
        max-width: 90%;
    }
    .media-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto, auto;
        grid-gap: .1em;
    }
    .media-grid1 {
        grid-column: 1/2;
        margin: 2em;
    }
    .media-grid2 {
        grid-column: 2/2;
        margin: 2em;
    }
    .container {
        gap: 20px;
    }
}
