body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
/* Navigation */
nav
    {
    text-align: center;
    font-weight: bold;
    background: black;
    }

nav ul
    {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
    }
nav li
    {
  
    border-bottom: 1px solid 
    }
nav a
    {
    text-decoration:none;
    padding-right: 10px;   
    }
a:link
    {
    color: #33cc33;    
    }
a:visited
    {
    color:#0000ff;    
    }
a:hover
    {
    color: white;    
    }
a:active
    {
    color:#FFF;   
    }
/* Main */
h1{
    text-align: center;
}
h2{
    text-align: center;
}
main{
    margin-top: 80px;
    margin-left: 10px;
}
img {
    max-width: 45%;
    border: solid, black;
}
.project {
    background-color: green;
    padding: 3em;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}
.websites {
    background-color: white;
    color: black;
    max-width: 30%;
    text-align: center;
    border: groove black;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    min-width: 20%;
}
.websites a {
    text-decoration:none;
}
.media {
    background-color: white;
    padding: 3em;
}
.button {
    margin: 2em;
    padding: 1em;
    border: 0;
    border-radius: .5em;
    font-size: 1rem;
    color: white;
    background-color: #70db70;
    box-shadow: 0 .4em #29a329;
    text-shadow: 1px 1px #29a329;
}
.button:active{
    background-color: #47d147;
    transform: translateY(.1em);
    box-shadow: 0 .3em #29a329;
}
.buttonOut {
    margin: 2em;
    padding: 1em;
    border: 0;
    border-radius: .5em;
    font-size: 1rem;
    color: white;
    background-color: #ff4d4d;
    box-shadow: 0 .4em #b30000;
    text-shadow: 1px 1px #b30000;
}
.buttonOut:active {
    background-color: #ff1a1a;
    transform: translateY(.1em);
    box-shadow: 0 .3em #b30000;
}
.skill {
    background-color: green;
    padding: 3em;
}
.hoverTime {
    background-color: black;
}
.hoverTimeTwo {
    background-color: white;
}
@media (min-width:45em) {
    nav
        {
        padding: 1em;   
        }
    nav ul 
        {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        list-style-type: none;
        }

    nav li 
        {
        border-bottom: none;
        } 
    }
}
@media (min-width:65em) {
    
}
