body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
/* Navigation */
nav
    {
    text-align: center;
    font-weight: bold;
    }

nav ul
    {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
    }
nav li
    {
  
    border-bottom: 1px solid 
    }
nav a
    {
    text-decoration:none;
    padding-right: 10px;   
    }
a:link
    {
    color: black;    
    }
a:visited
    {
    color:#33cc33;    
    }
a:hover
    {
    color: violet;    
    }
a:active
    {
    color:#FFF;   
    }
/* Main */
main{
    margin-top: 80px;
    margin-left: 10px;
}
.project {
    background-color: green;
    padding: 3em;
}
.media {
    background-color: white;
    padding: 3em;
}
.skill {
    background-color: green;
    padding: 3em;
}
@media (min-width:45em) {
    nav
        {
        background-color: green;
        padding: 1em;   
        }
    nav ul 
        {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        list-style-type: none;
        }

    nav li 
        {
        border-bottom: none;
        } 
    }
}
@media (min-width:65em) {
    
}
