html{
    --blue: #000080;
    --light-blue: #99ccff;
    --white: #FFF;
    color: var(--text-color);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: var(--blue);
}
header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
/* Navigation */
nav
    {
    text-align: center;
    font-weight: bold;
    background-color: var(--light-blue);
    }

nav ul
    {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
    }
nav li
    {
  
    border-bottom: 1px solid black;
    }
nav a
    {
    text-decoration:none;
    padding-right: 10px;   
    }
a:link
    {
    color: black;    
    }
a:visited
    {
    color:#0000ff;    
    }
a:hover
    {
    color: white;    
    }
a:active
    {
    color:#FFF;   
    }
/* Main */
h1{
    text-align: center;
}
main {
    margin-top: 80px;
    margin-left: auto;
    margin-right:auto;
    max-width: 95%;
}
.container{
    background-color: var(--white);
    border: 4px solid black;
    box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
    padding: 3em;
    margin-bottom: 25px;
}
@media (min-width:45em) {
    main{
        max-width:85%
    }
}
@media (min-width:65em) {
    main{
        max-width:80%
    }
}
