html{
    --blue: #000080;
    --black: #000;
    --maroon: #800000;
    --red: #C40000;
    --light-blue: #99ccff;
    --white: #FFF;
    color: var(--text-color);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: var(--maroon);
}
header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
/* Navigation */
nav
    {
    text-align: center;
    font-weight: bold;
    background-color: var(--black);
    padding-top: 1em;
    padding-bottom: 1em;
    }

nav ul
    {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
    }
nav li
    {
  
    border-bottom: 1px solid black;
    }
nav a
    {
    text-decoration:none;
    padding-right: 10px;   
    }
a:link
    {
    color: var(--maroon);    
    }
a:visited
    {
    color: var(--white);    
    }
a:hover
    {
    color: var(--red);    
    }
a:active
    {
    color:#FFF;   
    }
/* Main */
h1{
    text-align: center;
}
main {
    margin-top: 80px;
    margin-left: auto;
    margin-right:auto;
    max-width: 95%;
}
img{
    display: block;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.container{
    background-color: var(--white);
    border: 4px solid black;
    box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
    padding: 3em;
    margin-bottom: 25px;
}
.centered{
    text-align:center;
}
.hover{
    background-color: var(--maroon);
    color: var(--white);
    font-weight: bold;
    max-width: 30%;
}
.headingHover{
    background-color: var(--maroon);
    color: var(--white);
    font-weight: bold;
}
.gallery-flexbox{
    display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.gallery-flexbox > img {
    max-width: 45%;
}
.galleryHover{
    border: 1px solid var(--maroon);
}
@media (min-width:45em) {
    body {
      background-image: linear-gradient(90deg, var(--maroon), var(--white));
    }
    nav
        {
        padding: 1em;   
        }
    nav ul 
        {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        list-style-type: none;
        }

    nav li 
        {
        border-bottom: none;
        } 
    main{
        max-width:85%;
    }
    img{
        max-width: 80%;
    }
    .hover{
        max-width: 18%;
    }
    /*.headingHover > h1 {
        font-size: 2.5em;
    } */
}
@media (min-width:65em) {
    main{
        max-width:80%
    }
    img{
        max-width: 50%;
    }
    .hover{
        max-width:11%;
    }
}
